body {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgb(2, 5, 15);
  color: aliceblue;
}

input {
  border: 3px solid #4e87c9;
  outline: none;
  padding: 10px 70px 10px 10px;
  border-radius: 10px;
  margin: 10px;
}

.Total {
  color: #00a2ff;
}
